[submodule "bloodbank"]
	path = bloodbank
	url = git@github.com:delorenj/bloodbank.git
[submodule "candybar"]
	path = candybar
	url = git@github.com:delorenj/candybar.git
[submodule "candystore"]
	path = candystore
	url = git@github.com:delorenj/candystore.git
[submodule "holocene"]
	path = holocene
	url = git@github.com:delorenj/holocene.git
[submodule "lifecycle"]
	path = lifecycle
	url = git@github.com:delorenj/lifecycle.git
[submodule "momo"]
	path = momo
	url = git@github.com:delorenj/momo.git
[submodule "pjangler"]
	path = pjangler
	url = git@github.com:delorenj/pjangler.git
[submodule "holyfields"]
	path = holyfields
	url = git@github.com:delorenj/holyfields.git
[submodule "agents/hermes/pm/runtime"]
	path = agents/hermes/pm/runtime
	url = git@github.com:delorenj/agent-hm-33god-pm.git
	ignore = all
