[submodule "bloodbank"]
	path = bloodbank
	url = https://github.com/delorenj/bloodbank.git
[submodule "candybar"]
	path = candybar
	url = https://github.com/delorenj/candybar.git
[submodule "candystore"]
	path = candystore
	url = https://github.com/delorenj/candystore.git
[submodule "hermes-agent-template"]
	path = hermes-agent-template
	url = https://github.com/delorenj/hermes-agent-template.git
[submodule "holocene"]
	path = holocene
	url = https://github.com/delorenj/holocene.git
[submodule "lifecycle"]
	path = lifecycle
	url = https://github.com/delorenj/lifecycle.git
[submodule "momo"]
	path = momo
	url = https://github.com/delorenj/momo.git
[submodule "pjangler"]
	path = pjangler
	url = https://github.com/delorenj/pjangler.git
[submodule "toad"]
	path = toad
	url = https://github.com/delorenj/toad.git
[submodule "agents/hermes/pm/runtime"]
	path = agents/hermes/pm/runtime
	url = https://github.com/delorenj/agent-hm-33god-pm.git
	ignore = all
